#divCard {
    width: 22rem;
    display: inline-flex;
    margin: 70px;
    border: solid 3px rgb(228, 94, 94);
    /* background-color: rgba(69, 165, 225, 0.659); */
}

#nombre_tarjeta {
    text-align: center;
    color: rgb(168, 11, 50);
}

#seccion_celebridades {
    background: url('https://img.freepik.com/foto-gratis/lentejuelas-abstractas-espacio-copia_23-2148346546.jpg?w=740&t=st=1689954410~exp=1689955010~hmac=c13700b0057d7882fb99b1afdca3fdc019bbaf279af498972e047d5abbcfbaa1');
}

/* #boton_favoritos {
    
} */

#lista_detalles {
    border: rgb(8, 1, 2);
}